.inputSubmitStyled {
  all: unset;
  background-color: transparent;
  border: 1px solid;
  border-color: var(--color-green-shopper);
  border-radius: 25px;
  padding: 10px;
  color: white;
  cursor: pointer;
  text-align: center;
}
.inputSubmitStyled:hover {
  background-color: var(--color-green-shopper);
}
