.containerInput {
  display: flex;
  flex-direction: column;
  input {
    all: unset;
    border: 3px solid;
    border-radius: 15px;
    border-color: var(--color-green-shopper);
    background-color: white;
    padding: 5px 10px;
  }
}
