.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-header);
  padding: 20px 60px;
  align-items: center;
  color: white;
}

.logoDrivver {
  width: 150px;
  height: auto;
}
