.containerLogin {
  background-color: rgba(30, 32, 68, 0.5);
  color: white;
  border-radius: 8px;

  display: flex;
  flex-direction: column;

  padding: 50px 15px 30px 15px;
}

.containerAcess {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.inputStyles {
  all: unset;
  border: 3px solid;
  border-radius: 15px;
  border-color: var(--color-green-shopper);
  background-color: white;
  padding: 5px 10px;
  color: black;
}

.areaButtons {
  display: flex;
  gap: 20px;
  justify-content: space-between;

  margin-bottom: 20px;
}
